.emoji{
    width: 1.5em;
    height: 1.5em;
    padding-top: 0.25em;
    margin-top: -0.25em;
}

.angry{
    background-color: rgb(255,0,0);
}

.disgust{
    background-color: rgb(0,168,0);
}

.fear{
    background-color: rgb(255,79,193);
}

.happy{
    background-color: rgb(255,225,0);
}

.sad{
    background-color: rgb(48,110,255);
}

.surprise{
    background-color: rgb(255,157,0);
}

.neutral{
    background-color: rgb(124,124,124);
}